<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Login</title>
</head>

<body>
    <h1>Login</h1>
    {% if next %}
        <p>You cannot access that page.</p>
    {% endif %}

    <form method="post" action="{% url 'login' %}">
        {% csrf_token %}
        {% if form.errors %}
            <p>Invalid data provided.</p>
        {% endif %}

        <p>Username: {{ form.username }}</p>
        <p>Password: {{ form.password }}</p>

        <input type="submit" value="login">
        <input type="hidden" name="next" value="{{ next }}">
    </form>
</body>
</html>
